@import '../../utils/variable.scss';

.notification-info{
    display: flex;
    position: fixed;
    height: fit-content;
    width: 20rem;
    background: #fff;
    top: 3.5rem;
    right: 1.5rem;
    flex-direction: column;
    padding: 1.5rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 10px -1px rgba(0,0,0,0.3);
    cursor: default;
    z-index: 111;

    h1{
        font-size: 1.2rem;
        color: $blackColorTxt;
        text-align: start;
        padding: 0 1rem;
    }

    .search-input{
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 1rem;
        padding: 0 1rem;

        .search{
            padding: 0.7rem 1rem 0.7rem 2.2rem;
            border: none;
            outline: none;
            width: 100%;
            border-radius: 500px;
            background: $bgLogin;
            font-size: 0.9rem;
            color: $blackColorTxt;
            z-index: 2;
        }

        .icon-search{
            position: absolute;
            left: 1.5rem;
            z-index: 3;
            padding: 1px;
            margin-left: 0.2rem;
            color: $colorTitleInputSelect;
        }
    }

    .no-notifications{
        display: flex;
        text-align: start;
        font-size: 0.95rem;
        margin: 1rem 1rem -1rem 1rem;
    }

    .users{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        
        .notif-users{
            list-style: none;
            display: flex;
            height: fit-content;
            width: auto;
            background: transparent;
            border-radius: 0;
            margin-left: 0;
        }
    }
}