@import '../../utils/variable.scss';

.wp-input{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.7em;
    border-radius: 5px;

    .name-choose-input{
        position: absolute;
        left: 0.7em;
        font-size: 1em;
        cursor: default;
    }

    .input-card{
        padding: 0.5em 1em;
        width: 100%;
        outline: none;
        color: $blackColorTxt;
        border: 1px solid $colorBorder;
        border-radius: 5px;
        background: transparent;
        &:focus{
            border: 1px solid $colorBlue;
            color:$blackColorTxt;
        }
    }

    .icon-input{
        position: absolute;
        right: 1rem;
        cursor: pointer;
        color: $blackColorTxt;
    }

    // error input
    .error-input-card{
        border: 1px solid red;
    }
}