$bgLogin: #f0f2f5;
$colorBorder: #dadde1;
$blackColorTxt: #1c1e21;
$colorTitleInputSelect: #606770;
$colorBlue: #1877f2;
$colorYoungBlue: #E7F3FF;
$colorBlueTwo: #186ddc;
$colorChatBlue: #0084ff;
$colorChatGray: #e4e6eb;
$colorChatGrayHover: #cecfd3;
$colorRed: #FA383E;
$colorRedHover: #e3353b;
$colorBtnExc: #42b72a;
$colorHoverBtnExc: #3ba326;
$fontFamily: 'Roboto', sans-serif;