@import '../../utils/variable.scss';

.contacts {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 350px;
    height: auto;
    min-height: 85vh;
    padding-right: 1rem;

    .container-contacts {
        display: flex;
        flex-direction: column;

        h4 {
            color: $colorTitleInputSelect;
            text-align: start;
            font-weight: 500;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-top: 0.5rem;

            li {
                display: flex;
                flex-direction: column;
                list-style: none;
            }
        }
    }
}